* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f0f2f5;
}

header {
  background: #2d4022;
  padding: 2rem;
  padding-bottom: 12rem;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 300;
}

.content {
  width: min(90vw, 800px);
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-top: -8rem;
  padding: 2rem;
  border-radius: 0.4rem;
}
.coinSection {
  width: 40%;
  height: 30%;
  font-size: 1.5rem;
  background-color: #4a8b24;
  color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  text-align: center;
}

.converterSection {
  width: 80%;
  height: 50%;
  margin-left: 3rem;
  text-align: center;
  
}

.dolarReal, .realDolar{
  margin-bottom: 1.5rem;
  display: flex;
 
  flex-direction: column;
  font-size: 1.3rem;
  border: none;
  outline: none;
}


input {
  /*reset appearence*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
#dolarConverter, #realConverter {
  outline: none;
  padding: .4rem;
  border-radius: 0.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.inputConverter {
  font-family: 'Poppins', sans-serif;
  padding: 0.4rem;
  margin-top: 0.8rem;
  border: none;
  background-color: transparent;
  background-color: #98fa5f;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.res {
  background-color: #4a8b24;
  color: #fff;
  padding: 2rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  width: 100%;
  text-align: center;
}